{% extends 'base.html' %}

{% block title %}
    Register here
{% endblock %}

{% block content %}
    <div class="content-section ">
      <form method="post">
          {% csrf_token %}

          <fieldset class="form-group">
              <legend>
                  Join Us
              </legend>
                {{ form.as_p }}
          </fieldset>

      <div class="form-group"><input class="btn btn-outline-primary btn-block" type="submit"/></div>
      </form>

    </div>
{% endblock content %}
